.squads {
    background-image: url('https: //daily-now-res.cloudinary.com/image/upload/s--7QJfELWV--/f_auto/v1686299194/Squads_Background_z0uuvc');
    width: 100%;
    height: 100vh;
    background-size: contain;
}